.row
{
  width: 101%;
  background-color: transparent;
}
#image
{
  background-repeat: no-repeat;
  background-image: url('../images/background_images/h_img.jpg');
  background-position: center;
  background-size: cover;
}
.content
{
  text-align: center;
  color: white;
  margin-left: 250px;
  margin-top: 200px;
  width: 60%;
}

/*ABOUT START*/
.about
{
  text-align: center;
  margin-top: 15px;
}
/*ABOUT END*/

/*SERVICES START*/
.service
{
  background-repeat: no-repeat;
  background-image: url('../images/background_images/s_image.jpg');


}
.service h1
{
  text-align: center;
  color: white;
}
.service p
{
  text-align: center;
  color: white;
  margin-top: 40px;
}
/*SERVICES END*/

/*WHAT WE DO STARTS*/
.what h2
{
    text-align: center;
    
}
/*WHAT WE DO ENDS*/
