/*WELCOME START*/
.row
{
  width: 101%;
  background-color: transparent;
}
#image
{
  background-repeat: no-repeat;
  background-image: url('../images/background_images/h_img.jpg');
  background-position: center;
  background-size: cover;
}
.content
{
  text-align: center;
  color: white;
  margin-left: 250px;
  margin-top: 200px;
  width: 60%;
}
/*WELCOME ENDS*/
/*ABOUT START*/
.about
{
  text-align: center;
  margin-top: 15px;
}
/*ABOUT END*/

/*SERVICES START*/
.service
{
  background-repeat: no-repeat;
  background-image: url('../images/background_images/s_image.jpg');


}
.service h1
{
  text-align: center;
  color: white;
}
.service p
{
  text-align: center;
  color: white;
  margin-top: 40px;
}
/*SERVICES END*/

/*WHAT WE DO STARTS*/
.what h2
{
    text-align: center;

}
.what
{
  margin-left: 155px;
  margin-right: 55px;
}


/*WHAT WE DO ENDS*/
/*PORTFOLIO STARTS*/
.jumbotron img
{
  height: 280px;
  width: 280px;
}
.jumbotron h2
{
  text-align: center;
}
.jumbotron
{
  background-color: transparent;
}
.back_color
{
  background-color: white;
}
/*PORTFOLIO ENDS*/
/*CONTACT STARTS*/
.contact h2
{
  color: white;
  text-align: center;
}
.contact
{
  background-image: url('../images/background_images/c_image.jpg');

}
.form-control
{
  background-color: transparent;
  border-color: transparent;
  margin-left: 0;
  height: 300px;
}
.form-control input
{
  background-color: transparent;
  color: white;
  margin-left: 100%;
  width: 300px;
}
.col-sm-3 textarea
{
  margin-left: 280px;
  background-color: transparent;
  color: white;
}
.btn-success
{
  margin-left: 550px;
  width: 15%;
  border-radius: 5px;
}
/*CONTACT ENDS*/
/*FOOTER STARTS*/
.col-sm-1
{
  margin-left: -10px;
}
.card-footer .row
{
  margin-left: 450px;
  width: 60%;
}
.card-footer p
{
  text-align: center;
}
/*FOOTER ENDS*/
