.row
{
  width: 101%;
  background-color: transparent;
}
#image
{
  background-repeat: no-repeat;
  background-image: url('../images/background_images/h_img.jpg');
  background-position: center;
  background-size: cover;
}
.content
{
  text-align: center;
  color: white;
  margin-left: 250px;
  margin-top: 200px;
  width: 60%;
}

/*ABOUT START*/
.about
{
  text-align: center;
}
/*ABOUT END*/
